@import url(../libs/magnific/magnific-popup.css);
@font-face {
  font-family: "MagnoliaScript";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/MagnoliaScript/MagnoliaScript.woff");
  src: url("../fonts/MagnoliaScript/MagnoliaScript.woff") format("woff"), url("../fonts/MagnoliaScript/MagnoliaScript.woff2") format("woff2"); }

html {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }
  body div {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent; }

span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

header, section, footer {
  clear: both; }

ul {
  list-style: outside disc;
  margin: 15px 0 15px 30px; }

ol {
  list-style: outside decimal;
  margin: 15px 0 15px 30px; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }
  td img {
    vertical-align: top; }

button, input, select, textarea {
  margin: 0;
  outline: none; }

input::-moz-focus-inner, button::-moz-focus-inner {
  padding: 0;
  border: 0; }

input, select {
  vertical-align: middle; }

input[type=radio], input[type=checkbox] {
  margin: 1px 4px 4px 0; }

input[type=text], input[type=password] {
  border-radius: 0;
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical;
  border-radius: 0;
  -webkit-appearance: none; }

button, input[type=submit] {
  width: auto;
  overflow: visible; }

.ie7 input[type=submit], .ie7 input[type=reset], .ie7 input[type=button] {
  -webkit-filter: chroma(color=#000000);
  filter: chroma(color=#000000); }

input[type=button], input[type=submit] {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none; }

button {
  cursor: pointer;
  border-radius: 0;
  -webkit-appearance: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

small {
  font-size: 85%; }

strong {
  font-weight: bold; }

sub {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  top: -0.5em; }

sub {
  bottom: -0.25em; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
  font-size: 0;
  line-height: 0; }

pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word; }

.ie7 img {
  -ms-interpolation-mode: bicubic; }

.clear {
  clear: both;
  height: 0;
  font-size: 0;
  line-height: 0; }

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto; }

.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8); }

.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -o-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0; }

.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out; }

.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8; }

.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0; }

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

*::-webkit-input-placeholder {
  color: #627891;
  opacity: .8; }

*:-moz-placeholder {
  color: #627891;
  opacity: .8; }

*::-moz-placeholder {
  color: #627891;
  opacity: .8; }

*:-ms-input-placeholder {
  color: #627891;
  opacity: .8; }

::-moz-selection {
  background: #ccc;
  color: #fff; }

::selection {
  background: #ccc;
  color: #fff; }

::-moz-selection {
  background: #ccc;
  color: #fff; }

::-webkit-selection {
  background: #ccc;
  color: #fff; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: #272727; }

body input:required:valid,
body textarea:required:valid {
  color: #272727; }

html, body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  width: 100%; }

body {
  font-size: 16px;
  min-width: 320px;
  position: relative;
  line-height: 1.625;
  font-family: "MagnoliaScript", sans-serif;
  overflow-x: hidden;
  opacity: 1;
  background: #fff; }

.sticky-footer {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.img-responsive {
  max-width: 100%;
  height: auto; }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px; }

.presentation-one {
  position: relative;
  width: 100%;
  height: 100vh; }

.video {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden; }
  .video--item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    min-height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }

.audio-icon {
  position: absolute;
  top: 27px;
  left: 27px;
  z-index: 1;
  cursor: pointer; }
  .audio-icon--item {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: 0;
    fill: #ffffff;
    z-index: 1;
    -webkit-transition: fill .25s ease;
    -o-transition: fill .25s ease;
    transition: fill .25s ease; }
    .audio-icon--item:hover {
      fill: #093884; }
    .audio-icon--item:active {
      fill: #093884; }
  .audio-icon--item.active {
    opacity: 1;
    visibility: visible;
    z-index: 2; }

.presentation-two {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-position: left top;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding-bottom: 40px; }

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  max-width: 201px;
  margin: 0 auto; }
  .logo--img {
    display: inline-block;
    max-width: 100%;
    height: auto; }
  .logo--balls {
    position: relative;
    width: 11px;
    height: 60px;
    overflow: hidden;
    margin-bottom: -19px;
    margin-left: 1px; }
    .logo--balls--img {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      max-width: 100%; }

.greeting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 58px auto 0 auto;
  max-width: 705px; }
  .greeting--title {
    font-size: 48px;
    line-height: 58px;
    color: #124d91;
    font-weight: normal;
    white-space: nowrap;
    -ms-flex-item-align: end;
    align-self: flex-end; }
  .greeting--subtitle {
    font-size: 30px;
    color: #124d91;
    font-weight: normal;
    -ms-flex-item-align: end;
    align-self: flex-end; }

.actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 120px 0 0 0; }
  .actions--socials {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .actions--socials--item {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      border: 4px solid #fff;
      background: #124d91;
      border-radius: 8px;
      color: #fff;
      width: 66px;
      height: 66px;
      text-decoration: none;
      margin: 0 12px 0 0;
      -webkit-transition: background .25s ease, color .25s ease;
      -o-transition: background .25s ease, color .25s ease;
      transition: background .25s ease, color .25s ease; }
      .actions--socials--item:last-child {
        margin: 0; }
      .actions--socials--item .fa {
        font-size: 30px; }
      .actions--socials--item:hover {
        background: #006BC4;
        /* color: #4EB9FF; */ }
      .actions--socials--item:active {
        background: #003d76;
        color: #8CA9C2; }
  .actions--or {
    display: inline-block;
    color: #124d91;
    margin: 0 50px; }
  .actions--greeting {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-width: 310px;
    max-width: 310px;
    height: 66px;
    border: 4px solid #fff;
    background: #124d91;
    border-radius: 8px;
    text-decoration: none;
    font-size: 22px;
    color: #ffffff;
    margin-right: 30px;
    -webkit-box-shadow: inset 0px -6px 20px -7px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0px -6px 20px -7px rgba(0, 0, 0, 0.5);
    -webkit-transition: background .25s ease, color .25s ease;
    -o-transition: background .25s ease, color .25s ease;
    transition: background .25s ease, color .25s ease; }
    .actions--greeting:hover {
      background: #006BC4; }
    .actions--greeting:active {
      background: #003d76;
      color: #A1AFC2; }
    .actions--greeting--bird {
      position: absolute;
      top: -82px;
      right: -36px;
      max-width: 101px; }

.snowman {
  display: inline-block;
  position: absolute;
  bottom: 110px;
  left: 130px;
  width: 94px;
  height: 132px;
  z-index: 3; }

.language {
  position: absolute;
  top: 38px;
  right: 46px;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  line-height: 1; }
  .language--ru, .language--en {
    display: inline-block;
    text-decoration: none;
    color: #124d91;
    -webkit-transition: color .25s ease;
    -o-transition: color .25s ease;
    transition: color .25s ease;
    position: relative;
    line-height: 1;
    font-weight: 500; }
    .language--ru:hover, .language--en:hover {
      color: #000000; }
  .language a {
    margin: 0 27px 0 0; }
    .language a:last-child {
      margin: 0; }
  .language--ru.active, .language--en.active {
    color: #000000; }
    .language--ru.active:before, .language--en.active:before {
      content: '';
      position: absolute;
      top: -38px;
      left: -15px;
      right: 0;
      bottom: 0;
      width: 55px;
      height: 72px;
      background-image: url("../img/lang.svg");
      background-repeat: no-repeat;
      background-position: 0 0;
      z-index: -1; }

.form-dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 24px 0 80px 0;
  text-align: left;
  max-width: 500px;
  margin: 40px auto;
  color: #ffffff;
  position: relative;
  background-image: url("../img/bg-form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom left;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.57);
  box-shadow: 1px 1px 7px 0px rgba(0, 0, 0, 0.57); }
  .form-dialog--title {
    font-size: 40px;
    font-weight: normal; }
  .form-dialog--input, .tagsinput {
    max-width: 302px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 6px;
    font-size: 22px;
    font-family: 'Roboto', sans-serif;
    padding-left: 18px;
    color: #113f74;
    margin: 38px 0 0 0;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
    -webkit-transition: -webkit-box-shadow .25s ease;
    transition: -webkit-box-shadow .25s ease;
    -o-transition: box-shadow .25s ease;
    transition: box-shadow .25s ease;
    transition: box-shadow .25s ease, -webkit-box-shadow .25s ease; }
    .form-dialog--input:focus, .tagsinput:focus {
      -webkit-box-shadow: 1px 1px 7px 0px rgba(250, 250, 250, 0.57);
      box-shadow: 1px 1px 7px 0px rgba(250, 250, 250, 0.57); }
  .form-dialog .g-recaptcha {
    margin: 20px auto 42px auto; }
  .form-dialog--submit {
    position: relative;
    max-width: 302px;
    width: 100%;
    height: 58px;
    border: 1px solid #96BDCC;
    background-color: #FFFFFF;
    border-radius: 8px;
    font-family: "MagnoliaScript", sans-serif;
    font-size: 22px;
    color: #124d91;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 1px 1px 3px 0px rgba(0, 0, 0, 0.35);
    overflow: hidden;
    -webkit-transition: background .25s ease, border-color .25s ease;
    -o-transition: background .25s ease, border-color .25s ease;
    transition: background .25s ease, border-color .25s ease; }
    .form-dialog--submit:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      -webkit-box-shadow: inset 0px -6px 20px -7px rgba(0, 0, 0, 0.5);
      box-shadow: inset 0px -6px 20px -7px rgba(0, 0, 0, 0.5); }
    .form-dialog--submit:hover {
      background-color: #CBE7F5; }
    .form-dialog--submit:active {
      background-color: #94C9E0;
      border-color: #82A5B2; }

.play-video {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  cursor: pointer; }

@supports (-ms-ime-align: auto) {
  .video {
    -webkit-transform: scaleX(1.25);
    -moz-transform: scaleX(1.5); } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1300px) {
  .presentation-two {
    background-size: cover; }
  .actions {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 90px 0 0 0; }
    .actions--greeting {
      margin-right: 0;
      -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; }
    .actions--socials {
      -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    .actions--or {
      -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2;
      margin: 12px 0; } }

/* Medium Devices, Desktops */
@media only screen and (max-width: 1100px) {
  .presentation-two {
    background-position: top center; }
  .snowman {
    left: 50px; }
  .greeting {
    max-width: 580px; }
    .greeting--title {
      font-size: 40px;
      line-height: 44px; }
  .play-video {
    display: block; } }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .language {
    right: 20px; }
  .audio-icon--item {
    fill: #093884; }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; }
    .video--item {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      min-height: 100%;
      -o-object-fit: contain;
      object-fit: contain;
      -o-object-position: center;
      object-position: center; } }

@media only screen and (max-width: 700px) {
  .snowman {
    display: none;
    opacity: 0;
    visibility: hidden; } }

@media only screen and (max-width: 630px) {
  .greeting {
    max-width: 266px;
    margin: 20px auto 0 auto; }
    .greeting--title {
      font-size: 36px;
      white-space: normal; }
    .greeting--subtitle {
      font-size: 16px;
      -ms-flex-item-align: center;
      align-self: center; }
  .actions {
    margin: 54px 0 0 0; }
    .actions--greeting {
      min-width: 260px;
      max-width: 260px;
      font-size: 16px; }
      .actions--greeting--bird {
        max-width: 68px;
        top: -52px;
        right: -26px; }
    .actions--socials--item {
      width: 58px;
      height: 58px;
      margin: 0 10px 0 0; }
  .form-dialog {
    padding-left: 10px;
    padding-right: 10px; }
    .form-dialog--title {
      font-size: 34px; }
  .g-recaptcha {
    -ms-transform: scale(0.95);
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0; } }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }
